block javascripts
	script(src='/javascripts/underscore.js')
	script(src='/javascripts/backbone.js')
	script(src='/javascripts/jquery-1.7.min.js')
	script(src='/javascripts/task.js')
 

section(class="main-content")
	div(class="taskpanel")
	div#todoapp
		header
			input(type="checkbox",id="#toggle-all")
		div#main
			input#new-todo
		ul#todo-list
		footer
            
