block javascripts
	script(src='/javascripts/underscore.js')
	script(src='/javascripts/backbone.js')
	script(src='/javascripts/jquery-1.7.min.js')
	script(src='/javascripts/task.js')
 

section(class="main-content")
	div(class="taskpanel")
	div#todoapp
		header
			input(type="text",id="new-todo",placeholder="What needs to be done?")
			input(type="checkbox",id="toggle-all")
		div#main
		ul#todo-list
		footer
            
|  <script type="text/template" id="item-template">
|    <div class="view">
|      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
|      <label><%= title %></label>
|      <a class="destroy"></a>
|    </div>
|    <input class="edit" type="text" value="<%= title %>" />
|  </script>

|  <script type="text/template" id="stats-template">
|    <% if (done) { %>
|    <% } %>
|    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
|  </script>


|	<script type="text/template" id="my_template">
|   	<div class="view">
|    		<div class="item"><%= title %></div>
|    		<div class="item"><%= duration %></div>
|    		<div class="item"><%= cost %></div>
|    		<div class="item"><a href="<%= link %>"><%= link %></a></div>
|    	</div>
|	</script>